@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #dfccdf;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 999;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: rgb(255, 255, 255);
  background: #5e005e;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url(../Assets/kk.jpg);
  background-size: cover;

}

.body .left {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.body .left h1 {
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin-top: 150px;
  font-weight: 400;
  font-size: 40px;
}

.body .left h2 {
  width: 100%;
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
  font-size: 60px;
  color: #ffffff;
}

.body .forma {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 20px 0px 0px 0px;
}

.body .forma .an span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(0.2s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  60%,
  100% {
    transform: translateY(0px);
  }
}

.body .forma p {
  width: 100%;
  font-weight: 400;
  font-size: 28px;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
}

.body .forma form {
  width: 50%;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.body .forma form input {
  width: 100%;
  height: 50px;
  outline: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  background: none;
  transition: all 0.3s ease;
}

.body .forma form button {
  width: 50%;
  height: 50px;
  color: #dfccdf;
  font-size: 18px;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  background: #5e005e;
  animation: breath 2s ease infinite;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.body .social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body .social a {
  color: #ffffff;
  margin: 20px;
  font-size: 30px;
}

footer {
  width: 100%;
  padding: 20px 0px 20px 0px;
  height: fit-content;
  color: rgb(0, 0, 0);
  text-align: center;
  background: #dfccdf;
}

/* Media Query */

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #dfccdf;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    color: #5e005e;
  }

  nav ul li a.active,
  nav ul li a:hover {
    color: #ffffff;
    background: #5e005e;
    width: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

  .body .left,
  .body .forma {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .body .forma {
    margin: 10px 0px 0px 0px;
  }

  .body .forma p {
    margin: 20px 0px -30px 0px;
  }

  .body .forma form {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  .body .forma form input {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .body .left,
  .body .forma {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .body .left h2 {
    font-weight: 700;
  }

  .body .left h2,
  .body .left h1 {
    width: 100%;
    font-size: 35px;
  }

  .body .forma .an span {
    font-size: 30px;
    font-weight: 600;
  }

  .body .forma form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  .body .forma form input {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .body .left,
  .body .forma {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .body .left h2 {
    font-weight: 700;
  }

  .body .left h2,
  .body .left h1 {
    width: 98%;
    font-size: 30px;
  }

  .body .forma .an span {
    font-size: 25px;
    font-weight: 600;
  }

  .body .forma p {
    font-size: 20px;
  }

  .body .forma form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  .body .forma form input {
    width: 100%;
    height: 48px;
    text-align: center;
  }

  .body .forma form button {
    width: 100%;
    height: 48px;
    font-size: 18px;
  }
}
